@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@400;500;700&display=swap");

@import "tailwindcss";

@theme {
  --color-lime: hsl(61, 70%, 52%);
  --color-red: hsl(4, 69%, 50%);

  --color-white: hsl(0, 0%, 100%);
  --color-neutral-100: hsl(202, 86%, 94%);
  --color-neutral-300: hsl(203, 41%, 72%);
  --color-neutral-500: hsl(200, 26%, 54%);
  --color-neutral-700: hsl(200, 24%, 40%);
  --color-neutral-900: hsl(202, 55%, 16%);

  --font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--color-neutral-900);
  background-color: var(--color-neutral-100);
  min-height: 100vh;
  font-size: 16px;
}
